@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://kiyunkim.github.io/makeReadable/normalize.css');

$fontfamily: 'Roboto', arial, helvetica, sans-serif;
$background: #fff;

#makeReadable_html {
  background-color: $background;
  font-family: $fontfamily;
  line-height: 1.3;
  position: fixed;
  left: 0;
  top: 5vh;
  z-index: 999999999;
  p {
    margin: 0;
  }
  

}